pkgbase = dumpet
	pkgdesc = Tool for debugging and verifying El Torito boot data on CD-like images
	pkgver = 2.1
	pkgrel = 8
	url = https://github.com/rhboot/dumpet
	arch = i686
	arch = x86_64
	license = GPL2
	depends = glibc
	depends = libxml2-legacy
	depends = popt
	source = git+https://github.com/rhboot/dumpet.git#commit=eca7061c2141885d64e1cbd72bec1faa73e6dbde
	sha256sums = fbfeb6c5966d8826db7205487d1c3c2080be65468038806c5518937d094b5a85

pkgname = dumpet
